@import "../../sass/bootstrap/functions";
@import "../../sass/bootstrap/variables";
@import "../../sass/bootstrap/mixins";

// 头部

header {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
    font-size: 1rem;
    &.fixed {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
    nav {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: .7rem 0;
        .logo {
            display: inline-block;
            margin-right: 1.5rem;
        }
        .active {
            a {
                color: $link-color;
            }
        }
        .nav-conainer {
            display: flex;
            flex-basis: auto;
            flex-grow: 1;
        }
        .search-form {
            border: 1px solid hsla(0, 0%, 59%, .2);
            background-color: rgba(227, 231, 236, .2);
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 2px;
            margin-right: .75rem;
            @include media-breakpoint-down(md) {
                display: none;
            }
            .search-input {
                width: 9rem;
                border: none;
                outline: none;
                font-size: 0.825rem;
                padding: .4rem 0.8rem;
                color: #666;
                background-color: transparent;
            }
        }
        .write {
            color: #007fff;
            position: relative;
            display: flex;
            align-items: center;
            margin: auto .75rem;
            cursor: pointer;
            @include media-breakpoint-down(md) {
                display: none;
            }
            &:hover {
                color: #0371df;
            }
            .icon {}
            &:after {
                content: "|";
                position: absolute;
                right: -.75rem;
                color: hsla(0, 0%, 59%, .4);
            }
        }
        .auth {
            display: flex;
            align-items: center;
            margin: auto .75rem;
            span {
                color: #007fff;
                position: relative;
                cursor: pointer;
                &:hover {
                    color: #0371df;
                }
                &.login {
                    margin-right: .75rem;
                    &:after {
                        content: "\B7";
                        position: absolute;
                        right: -.45rem;
                    }
                }
                &.regist {}
            }
        }
    }
}
