
@import 'normal.scss';

// 头部

$max-width: 80rem;


.container {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    position: relative;
}

header {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
    font-size: 1.6rem;
    &.fixed {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
    nav {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 1rem 0;
        .logo {
            display: inline-block;
            margin-right: 2rem;
        }
        .active {
            a {
                color: $link-color;
            }
        }
        .nav-conainer {
            display: flex;
            flex-basis: auto;
            flex-grow: 1;
        }
        .search-form {
            border: 1px solid hsla(0, 0%, 59%, .2);
            background-color: rgba(227, 231, 236, .2);
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 2px;
            margin-right: 1rem;
            @include media-breakpoint-down(md) {
                display: none;
            }
            .search-input {
                border: none;
                width: 10rem;
                padding: .6rem 1rem;
                outline: none;
                font-size: 1.1rem;
                color: #666;
                background-color: transparent;
            }
        }
        .write {
            color: #007fff;
            position: relative;
            display: flex;
            align-items: center;
            margin: auto 1rem;
            cursor: pointer;
            @include media-breakpoint-down(md) {
                display: none;
            }
            .icon {}
            &:after {
                content: "|";
                position: absolute;
                right: -1rem;
                color: hsla(0, 0%, 59%, .4);
            }
        }
        .auth {
            display: flex;
            align-items: center;
            margin: auto 1rem;
            span {
                color: #007fff;
                position: relative;
                cursor: pointer;
                &.login {
                    margin-right: 1rem;
                    &:after {
                        content: "\B7";
                        position: absolute;
                        right: -.6rem;
                    }
                }
                &.regist {}
            }
        }
    }
}



// 网站主要内容


// 底部导航

footer {

}
