<ul class="pin-list">
    {^{for pinList}}
    <li class="item shadow">
        <div class="pin-header-row">
            <a href="#" class="user-link">
                <div class="avatar" style="background-image: url('{{:user.avatarLarge}}');"></div>
            </a>
            <div class="pin-header-content">
                <a href="#" class="username">{{:user.username}}</a>
                <div class="meta-box">
                    {{if ~position(user.jobTitle, user.company)}}
                    <div class="position ellipsis">{{: ~position(user.jobTitle, user.company)}}</div>
                    <div class="dot">·</div>
                    {{/if}}
                    <a href="#" class="time-box">
                        <time class="time">23分钟</time>
                    </a>
                </div>
            </div>
            <div class="pin-header-more">
                <div class="more-button">
                    <img class="icon" src="../../images/icon-more.svg" alt="more">
                </div>
            </div>
        </div>
        <div class="pin-content-row">
            <div class="content-box">
                <span class="content clamp">
                    <!-- IE 和 Chrome 的日常：黑魔法，来自Talalios
                    <img class="emoji" draggable="false" alt="🐊" src="https://gold-cdn.xitu.io/asset/twemoji/2.6.0/svg/1f40a.svg">
                    <br/>
                    <br/> Chrome：我性能更好、速度更快、更受欢迎。每个用户都很喜欢我
                    <br/> IE：了不起，但这个你绝对做不到 …
                    <br/> Chrome：这是什么黑魔法？
                    <br/> Chrome：这是什么黑魔法？
                    <br/> Chrome：这是什么黑魔法？
                    <br/> Chrome：这是什么黑魔法？
                    <br/> Chrome：这是什么黑魔法？
                    <br/> Chrome：这是什么黑魔法？
                    <br/> Chrome：这是什么黑魔法？
                    <br/> Chrome：这是什么黑魔法？ -->
                    {{:content}}
                </span>
                <div class="limit-ctl-box">
                    <div class="limit-btn">展开</div>
                </div>
            </div>
        </div>
        {{if pictures.length > 0}}
        <div class="pin-image-row">
            <div class="image-box {{:~imageCol(pictures.length)}}">
                {{for pictures}}
                <div class="image" style="background-image: url('{{:}}');">
                    <div class="ratio-holder"></div>
                </div>
                {{/for}}
            </div>
        </div>
        {{/if}}
        {{if url != ''}}
        <div class="pin-link-row">
            <a href="{{:url}}" class="link-box">
                <div class="link-info-box">
                    <div class="link-title clamp">{{:urlTitle}}</div>
                    <div class="link-domain ellipsis">{{:url}}</div>
                </div>
                <div class="link-thumb" class="link-thumb" style="background-image: url('{{:urlPic}}');"></div>
            </a>
        </div>
        {{/if}}
        {{if topic}}
        <div class="pin-topic-row">
            <a href="{{: 'https://juejin.im/topic/' + topic.objectId}}" class="topic-title">{{:topic.title}}</a>
        </div>
        {{/if}}
        <div class="pin-action-row">
            <div class="action-box">
                <div class="like-action action">
                    <div class="action-title-box">
                        <img src="../../images/icon-like2.svg" alt="like" class="icon">
                        <span class="action-title">{{:likedCount}}</span>
                    </div>
                </div>
                <div class="comment-action action">
                    <div class="action-title-box">
                            <img src="../../images/icon-comment2.svg" alt="comment" class="icon">
                            <span class="action-title">{{:commentCount}}</span>
                    </div>
                </div>
                <div class="share-action action">
                    <div class="action-title-box">
                        <img src="../../images/icon-share2.svg" alt="share" class="icon">
                        <span class="action-title">分享</span>
                    </div>
                </div>
            </div>
        </div>
    </li>
    {{/for}}
</ul>
