<ul class="pin-list">
    {^{for pinList}}
    <li id="{{:objectId}}" class="item shadow">
        <div class="pin-header-row">
            <a href="#" class="user-link">
                <div class="avatar" style="background-image: url('{{:user.avatarLarge}}');"></div>
            </a>
            <div class="pin-header-content">
                <a href="#" class="username">{{:user.username}}</a>
                <div class="meta-box">
                    {{if ~position(user.jobTitle, user.company)}}
                    <div class="position ellipsis">{{: ~position(user.jobTitle, user.company)}}</div>
                    <div class="dot">·</div>
                    {{/if}}
                    <a href="#" class="time-box">
                        <time class="time">23分钟</time>
                    </a>
                </div>
            </div>
            <div class="pin-header-more">
                <div class="more-button">
                    <img class="icon" src="../../images/icon-more.svg" alt="more">
                </div>
            </div>
        </div>
        <div class="pin-content-row">
            <div class="content-box">
                <span class="content clamp">
                    {{: ~textHandle(content)}}
                </span>
                <div class="limit-ctl-box">
                    <div class="limit-btn">展开</div>
                </div>
            </div>
        </div>
        {{if pictures.length > 0}}
        <div class="pin-image-row">
            <div class="image-box {{:~imageCol(pictures.length)}}">
                {{for ~convertImages(pictures)}}
                <div class="image" style="background-image: url('{{:#data.thumbUrl}}');">
                    <div class="ratio-holder" style="padding-top: {{:#data.thumbHeight/#data.thumbWidth * 100 + '%'}};"></div>
                    {{if #data.gif}}
                    <div class="label">GIF</div>
                    {{else #data.long}}
                    <div class="label">长图</div>
                    {{/if}}
                </div>
                {{/for}}
            </div>
            <div class="pin-gallery" style="display: none;">
            </div>
        </div>
        {{/if}}
        {{if url != ''}}
        <div class="pin-link-row">
            <a href="{{:url}}" class="link-box">
                <div class="link-info-box">
                    <div class="link-title clamp">{{:urlTitle}}</div>
                    <div class="link-domain ellipsis">{{:~parseUrl(url).host}}</div>
                </div>
                {{if urlPic != ''}}
                <div class="link-thumb" style="background-image: url('{{:urlPic}}');"></div>
                {{else}}
                <div class="link-thumb blank"></div>
                {{/if}}
            </a>
        </div>
        {{/if}}
        {{if topic}}
        <div class="pin-topic-row">
            <a href="{{: 'https://juejin.im/topic/' + topic.objectId}}" class="topic-title">{{:topic.title}}</a>
        </div>
        {{/if}}
        <div class="pin-action-row">
            <div class="action-box">
                <div class="like-action action">
                    <div class="action-title-box">
                        <img src="../../images/icon-like2.svg" alt="like" class="icon">
                        <span class="action-title">{{: likedCount===0 ? '赞' : likedCount}}</span>
                    </div>
                </div>
                <div class="comment-action action">
                    <div class="action-title-box">
                        <img src="../../images/icon-comment2.svg" alt="comment" class="icon">
                        <span class="action-title">{{: commentCount===0 ? '评论' : commentCount}}</span>
                    </div>
                </div>
                <div class="share-action action">
                    <div class="action-title-box">
                        <img src="../../images/icon-share2.svg" alt="share" class="icon">
                        <span class="action-title">分享</span>
                    </div>
                </div>
            </div>
        </div>
    </li>
    {{/for}}
</ul>
