<ul class="entry-list">
    {^{for categoryEntryList}}
    <li class="item" id="{{:objectId}}">
        <div class="entry nest-link">
            <a href="{{:originalUrl}}" class="nest-link-overlay " target="_blank"></a>
            <div class="content-box nest-link-content ">
                <div class="info-box ">
                    <div class="meta-row ">
                        <ul class="meta-list ">
                            {{if collectionCount>100}}
                            <li class="item hot ">热</li>
                            {{/if}}
                            {{if original}}
                            <li class="item post ">专栏</li>
                            {{/if}}
                            <li class="item username ">
                                <a href="#" data-toggle="tooltip">{{:user.username}}</a>
                            </li>
                            <li class="item ">{{:~timeago(buildTime)}}</li>
                            <li class="item tag ">
                                <a href="# ">Vue.js</a>
                                <a href="# ">浏览器</a>
                            </li>
                        </ul>
                    </div>
                    <div class="title-row ">
                        <a href="{{:originalUrl}}" class="title " target="_blank">{{:title}}</a>
                    </div>
                    <div class="action-row ">
                        <ul class="action-list ">
                            <li class="item like hoverable ">
                                <div href="#" class="box ">
                                    <img src="../../images/icon-like.svg" class="icon ">
                                    <span class="count ">{{:collectionCount}}</span>
                                </div>
                            </li>
                            <li class="item comment hoverable ">
                                <div href="#" class="box ">
                                    <img src="../../images/icon-comment.svg" class="icon ">
                                    <span class="count ">{{:commentsCount}}</span>
                                </div>
                            </li>
                            <li class="item share hover hoverable ">
                                <img src="../../images/icon-share.svg" class="icon ">
                            </li>

                            <li class="item collect hover hoverable ">
                                <img src="../../images/icon-collect.svg" class="icon ">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
    {{/for}}
</ul>
