@import '../../sass/normal.scss';
@import '../../sass/header.scss';

@import './entry.scss';
@import './aside.scss';
@import './auth.scss';


main {
    z-index: 0;
    .view {
        margin-top: 1.325rem;
        display: flex;
        .welcom-list {
            flex-grow: 1;
            overflow: hidden;
            .category-nav {
                background-color: #fff;
                padding: 1.125rem 1.5rem;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #f6f6f6;
                h5 {
                    margin: 0;
                    font-size: 1rem;
                    font-weight: 500;
                }
                .more {
                    font-size: .75rem;
                    display: none;
                    @include media-breakpoint-down(sm) {
                        display: block;
                    }
                }
                .nav-list {
                    display: flex;
                    align-items: center;
                    @include media-breakpoint-down(sm) {
                        display: none;
                    }
                    .nav-item {
                        color: #90979c;
                        margin-right: 1.25rem;
                        font-size: .875rem;
                        position: relative;
                        cursor: pointer;
                        &.active {
                            color: #007fff;
                        }
                    }
                }
            }
            .entry-list {
                background-color: #fff;
                width: 100%;
                >.item {
                    border: 1px solid rgba(178, 186, 194, .15);
                }
            }
        }
    }
}
