<div class="user-tooltip">
    <div class="info-row">
        <a href="#">
            <img src="{{:avatarLarge}}" alt="avatar" class="avatar">
        </a>
        <div class="user-info">
            <a href="#" class="username">{{:username}}</a>
            <div class="position">{{:jobTitle}} @ {{:company}}</div>
        </div>
    </div>
    <div class="meta-row">
        <ul class="meta-list">
            <li class="item">
                <div class="count">{{:followeesCount}}</div>
                <div class="title">关注</div>
            </li>
            <li class="item">
                <div class="count">{{:followersCount}}</div>
                <div class="title">关注者</div>
            </li>
        </ul>
        <button class="follow-button">关注</button>
    </div>
</div>
