@import '../../sass/normal.scss';
@import '../../sass/header.scss';
@import './aside.scss';
main {
    z-index: 0;
    position: relative;
    margin: 0 auto;
    width: 100%;
    .pin-view {
        margin-top: 1.325rem;
        display: flex;
        .pin-container {
            flex-grow: 1;
            overflow: hidden;
            .auth {
                height: 8.66925rem;
                border: 1px solid hsla(0, 0%, 87%, .5);
                background: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
            .pin-category {}
            .pin-content {}
        }
    }
}
